@import './fontFaces.scss';

:root {
    /* -------- FONTS --------- */
    --font-family-default: 'MDB-Montserrat', 'Helvetica', Arial, 'sans-serif';
    --font-size-default: 28px;

    /* -------- BRAND COLORS --------- */
    --brand-color-yellow: #ffba48;
    --brand-color-blue: #004aad;
    --brand-color-green: #02994f;
    --brand-color-white: #ffffff;
    --brand-color-black: #0d1117;

    /* ============================= LIGHT THEME COLORS ============================= */
    // text colors
    --theme-light-text-color-default: #000000;
    --theme-light-heading-level-1-color-default: #000000;
    --theme-light-heading-level-2-color-default: #565656;
    --theme-light-heading-level-3-color-default: #666666;
    --theme-light-normal-text-color-default: #000000;

    // background colors
    --theme-light-background-color-default: #ffffff;
    --theme-light-background-tint-color-default: #ededed;
    --theme-light-background-highlight-color-default: #ffdc74;

    // category colors
    --theme-light-category-food-bg-color-default: #ee7b00;
    --theme-light-category-beauty-bg-color-default: #00a8be;
    --theme-light-category-lifestyle-bg-color-default: #cb80fd;

    // icon colors
    --theme-light-icon-color-default: #0d1117;
    --theme-light-icon-instagram-color: #e4405f;
    --theme-light-icon-facebook-color: #3b5998;
    --theme-light-icon-youtube-color: #f32743;
    --theme-light-icon-threads-color: #000000;

    /* ============================= DARK THEME COLORS ============================= */
    // text colors
    --theme-dark-text-color-default: #ffffff;
    --theme-dark-heading-level-1-color-default: #ffffff;
    --theme-dark-heading-level-2-color-default: #b4b4b4;
    --theme-dark-heading-level-3-color-default: #c0c0c0;
    --theme-dark-normal-text-color-default: #ffffff;

    // background colors
    --theme-dark-background-color-default: #121212;
    --theme-dark-background-tint-color-default: #282828;
    --theme-dark-background-highlight-color-default: #424242;

    // category colors
    --theme-dark-category-food-bg-color-default: #ee7b00;
    --theme-dark-category-beauty-bg-color-default: #00a8be;
    --theme-dark-category-lifestyle-bg-color-default: #cb80fd;

    // icon colors
    --theme-dark-icon-color-default: #ffffff;
    --theme-dark-icon-instagram-color: #ffffff;
    --theme-dark-icon-facebook-color: #ffffff;
    --theme-dark-icon-youtube-color: #ffffff;
    --theme-dark-icon-threads-color: #ffffff;
}

html,
body {
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    text-size-adjust: none;
    color: var(--theme-light-text-color-default);
    background-color: var(--theme-light-background-color-default);
    margin: 0;
    border: 0;
}

// todo: update paragraph font as per design
