@import './fontFaces.scss';

:root {
    --default-font-family: 'MDB-Montserrat', 'Helvetica', Arial, 'sans-serif';
    --default-font-size: 28px;
    --default-light-theme-font-color: #000000;
    --default-dark-theme-font-color: #ffffff;
    --default-light-theme-background-color: #ffffff;
    --default-dark-theme-background-color: #000000;
    --default-light-gray: #ededed;
    --default-dark-gray: #333333;

    --default-light-theme-icon-color: #000000;
    --default-light-theme-icon-background-color: #ededed;
    --default-light-theme-heading-level-5-color: #7d7d7d;
    --default-light-theme-heading-level-6-color: #000000;
    --default-light-theme-paragraph-color: #000000;

    --default-dark-theme-icon-color: #ffffff;
    --default-dark-theme-icon-background-color: #424242;
    --default-dark-theme-heading-level-5-color: #a8a8a8;
    --default-dark-theme-heading-level-6-color: #ffffff;
    --default-dark-theme-paragraph-color: #ffffff;
}

html,
body {
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    color: var(--default-light-theme-font-color);
    background-color: var(--default-light-theme-background-color);
    margin: 0;
    border: 0;
}
