@import './fontFaces.scss';

:root {
    --default-font-family: 'Montserrat-Regular', 'Helvetica', Arial, 'sans-serif';
    --default-font-size: 30px;

    --content-block-title-font-size: 48px;
    --content-block-title-font-family: 'Montserrat-Bold', 'Helvetica', Arial, 'sans-serif';
    --content-block-layout-padding: 48px;
}

body {
    font-family: var(--default-font-family);
    font-size: var(--default-font-size);
    margin: 0;
}
